nav {
  background-color: transparent;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  padding: 0; /* Remove default padding */
}

li {
  white-space: nowrap;
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
  border-radius: 100px;
  padding: 5px 10px;
  font-weight: bold;
  transition: border-color 0.3s, color 0.3s;
  outline-style: solid;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  border-color: #fff;
  outline: none;
}

@media screen and (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }

  li {
    margin: 10px 0; /* Adjust margin for better spacing in the vertical stack */
  }
}