
/* Page */
.page {
  padding: 1em;
}

.icon-container {
  padding: 1em;
}

/* Media Query for Small Screens */
@media screen and (max-width: 600px) {

}

.website-link {
  color: rgb(15, 22, 216);
  text-decoration: underline;
}
