@keyframes rotateHue {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

body {
  background: rgb(205,178,255);
  background: radial-gradient(circle, rgba(205,178,255,1) 20%, rgba(160,216,255,1) 100%);
}

.centered-link {
  display: flex;
  justify-content: center;
}

footer {
  background-color: transparent;
  padding: 10px;
  text-align: center;
}

h1 {
  color: white;
  margin: auto;
  padding: 10px;
  width: 600px;
}

h3 {
  color: white;
  margin: auto;
  padding: 10px;
  text-align: left;
  width: 600px;
}

.img {
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  margin: 10px;
  width: 300px;
}

li {
  border: 2px solid transparent;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin: 10px;
  outline-style: solid;
  padding: 3px;
  transition: border-color 0.3s, color 0.3s;
  white-space: nowrap;
}

.nav {
  background-color: transparent;
  padding: 0px;
  padding: 10px;
  text-align: center;
}

.page {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  margin: auto;
  max-width: 1400px;
  text-align: center;
  transition: border-color 0.3s, color 0.3s;
}

p {
  color: #666;
}

ul {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  list-style: none;
  padding: 0; /* Remove default padding */
}

@media screen and (max-width: 600px) {
  h1{
    width: 300px;
  }

  h3{
    width: 300px;
  }

  li {
    margin: 10px 0; 
  }
}

a {
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  font-weight: bold;
  margin: auto;
  padding: 10px 10px;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  border-color: #fff;
  color: #fff;
  outline: none;
}