body {
  background: rgb(205,178,255);
  background: radial-gradient(circle, rgba(205,178,255,1) 20%, rgba(160,216,255,1) 100%);
}

/* Centered link */
.centered-link {
  display: flex;
  justify-content: center;
}

/* Headings */
h1, h3 {
  color: white;
  margin: auto;
  padding: 10px;
  width: 600px;
}

h3 {
  text-align: left;
}

/* Image */
.img {
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  margin: 10px;
  width: 300px;
}

/* List item */
li {
  border: 2px solid transparent;
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin: 10px;
  outline-style: solid;
  padding: 3px;
  transition: border-color 0.3s, color 0.3s;
  white-space: nowrap;
}

/* Page */
.page {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  margin: auto;
  max-width: 1000px;
  text-align: center;
  transition: border-color 0.3s, color 0.3s;
}

/* Paragraph */
p {
  color: #666;
}

/* Unordered list */
ul {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 4px;
  justify-content: center; /* Center items horizontally */
  list-style: none;
}

/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
  h1 {
    width: 300px;
  }

  h3 {
    width: 300px;
  }

  li {
    margin: 10px; 
  }

  img {
    width: 250px;
  }
}

/* Anchor */
a {
  border-radius: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
}

/* Hover, Focus, Active States for Anchor */
a:active, a:focus, a:hover {
  border-color: #fff;
  color: #fff;
  outline: none;
}

/* Footer */
footer {
  bottom: 1em;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0; /* Reset margin */
  padding: 0;
}

footer li {
  margin: 10px;
}

/* Navigation */
nav {
  top: 1em;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0; /* Reset margin */
  padding: 0;
}

nav li {
  margin: 10px;
}